.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3_content {
    background-image: url('../img/bg2.jpg');
    background-position: left;
    background-size: cover;
    padding: 30rem 10rem 36rem 10rem;
}

.area3 .area3_img1 {
    background-image: url('../img/f5.jpg');
    background-position: center;
    background-size: cover;
}

