.banner {
    background-image: url('../img/bg.jpg');
    background-size: cover;  
    background-position: center; 
    padding: 15rem 0 5rem;
}

 
.container p {
    color: var(--text-secundary);
    margin-top: 3rem;
    font-weight: 400;
    font-size: 1.6rem;
}

.banner_images {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 5rem 0;
}

.banner_images img {
    width: 14.8rem;
    height: 14.8rem;
    border: 5px solid var(--bd-color-primary);
    border-radius: 50%;
}
