@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    font-size: 16px; 
    font-size: 62.5%;
    --bg-primary: #117050;
    --bg-secondary: #333333;
    --text-primary: #a8f8dd;
    --text-secundary: #333333;
    --text-terceary: ##a8f8dd;
    --bd-color: #117050;
}